
.review-button {
    transition: 0.1s;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    background-color: cornflowerblue;
    color: black;
    border-width: 0px;
    border-radius: 50px;
    margin: 10px;
}

.review-button:hover {
    --spread: 8px;
    --dist: 1;
    transition: 0.2s;
    background-color: deepskyblue;
    box-shadow: 
    calc(-10px * var(--dist)) calc(-10px * var(--dist)) var(--spread) 0px #5B51D8, 
    0 calc(-10px * var(--dist)) var(--spread) 0px #833AB4, 
    calc(10px * var(--dist)) calc(-10px * var(--dist)) var(--spread) 0px #AF40FF, 
    calc(10px * var(--dist)) 0 var(--spread) 0px #5B42F3, 
    calc(10px * var(--dist)) calc(10px * var(--dist)) var(--spread) 0px #5B42F3, 
    0 calc(10px * var(--dist)) var(--spread) 0px #00DDEB, 
    calc(-10px * var(--dist)) calc(10px * var(--dist)) var(--spread) 0px #00DDEB;
    margin: 16px;
    cursor: pointer;
}

.delete-review-button:active {
    transition: 0.1s;
    margin: 14px;
    color: #ffffff;
    --dist: 0.3;
    box-shadow: 
    calc(-10px * var(--dist)) calc(-10px * var(--dist)) var(--spread) 0px #5B51D8, 
    0 calc(-10px * var(--dist)) var(--spread) 0px #833AB4, 
    calc(10px * var(--dist)) calc(-10px * var(--dist)) var(--spread) 0px #AF40FF, 
    calc(10px * var(--dist)) 0 var(--spread) 0px #5B42F3, 
    calc(10px * var(--dist)) calc(10px * var(--dist)) var(--spread) 0px #5B42F3, 
    0 calc(10px * var(--dist)) var(--spread) 0px #00DDEB, 
    calc(-10px * var(--dist)) calc(10px * var(--dist)) var(--spread) 0px #00DDEB;
}